.book-view {
  position: relative;
  left: 0;
  right: 0;
  bottom: 200px;
  @media (max-width: 960px) {
    .book-meta {
      bottom: 185px;
    }
  }
  &__thumbnail {
    position: relative;
    bottom: 130px;
    max-width: 94%;
    width: 100%;
    @media (max-width: 960px) {
      max-width: 100%;
      top: -180px;
      padding-right: 5%;
      position: relative;
    }
  }
}
