.book-view {
  position: relative;
  left: 0;
  right: 0;
  bottom: 200px;
  @media (max-width: 960px) {
    .book-meta {
      bottom: 150px;
    }
  }
  &__thumbnail {
    position: relative;
    bottom: 150px;
    max-width: 60%;
    margin-left: 5%;
    width: 100%;
    @media (max-width: 960px) {
      top: -140px;
      margin-right: auto;
      margin-left: auto;
      position: relative;
    }
  }
}
