.header {
  position: relative;
  margin-top: 5%;
  img {
    position: relative;
  }
  @media (max-width: 960px) {
    &__text {
      color: #ffffff;
    }
  }

  @media (max-width: 960px) {
    z-index: 9999;
  }
}
// .black-background img {
//   width: 100%;
//   @media (max-width: 960px) {
//     position: relative;
//     bottom: 85px;
//     z-index: -1;
//   }
// }
.black-background {
  background-image: url(../../img/main-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000000;
  max-height: 50vh;
  height: 50vh;
  @media (max-width: 960px) {
    position: relative;
    top: -135px;
  }
}
